[submodule "ext/LR2Mem"]
	path = ext/LR2Mem
	url = https://github.com/MatVeiQaaa/LR2Mem.git
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json.git
[submodule "ext/PicoSHA2"]
	path = ext/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2.git
