[submodule "ext/LR2Mem"]
	path = ext/LR2Mem
	url = git@github.com:MatVeiQaaa/LR2Mem.git
[submodule "ext/json"]
	path = ext/json
	url = git@github.com:nlohmann/json.git
[submodule "ext/curl"]
	path = ext/curl
	url = git@github.com:curl/curl.git
[submodule "ext/libSafetyhook"]
	path = ext/libSafetyhook
	url = git@github.com:MatVeiQaaa/libSafetyhook.git
