[submodule "ext/LR2Mem"]
	path = ext/LR2Mem
	url = git@github.com:MatVeiQaaa/LR2Mem.git
[submodule "ext/json"]
	path = ext/json
	url = git@github.com:nlohmann/json.git
[submodule "ext/PicoSHA2"]
	path = ext/PicoSHA2
	url = git@github.com:okdshin/PicoSHA2.git
